
.logosize{
    width: 204px;
}


.navtext{
    font-size: 17px;
    color: #585151 !important;
    font-weight: 600;
}

.navbg{
    background-color: #ffffff;
}

.financial{
    font-size: 48px;
    font-weight: 700;
    color: #1b2a3e;
}

.we{
    color: #84868a;
}

.quick{
    background-color: #4FBDD1;
    color: white !important;
    font-size: 17px;
}


.borderimg{
    border: 2px solid #4fbdd1;
    border-radius: 100%;
    padding: 90px;

}


.producttext1{
    font-size: 36px;
    font-weight: 600;
}

.cardsecond{
  border: none;
  box-shadow: 5px 4px 23px -10px;
  border-radius: 20px !important;
}


.iconcolorchange11{
  color:#4fbdd1 ;
  background-color: #eff9fb;
  padding: 20px;
  border-radius: 50%;
}


/* .iconcolorchange11{
  color:#4fbdd1 ;
  background-color: #eff9fb;
  padding: 32px 38px 27px 39px;
  border-radius: 50%;
  
} */

/* jjjjjjjjjjjjjjjjjj */

/* body{
    background:black;
  } */
  
  .main{
    width:330px;
    height:330px;
    border:1px solid #109294;
    position:absolute;
    top:0; bottom:0; left:0;right:0;
    margin:auto;
    border-radius:50%; 
  }
  
  .circle{
    width:30px;
    height:30px;
    background:#0abcd0;
    border-radius:50%;
    position:absolute;
    top:0; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    animation: circle 6s linear infinite;
  }
  
  @keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-165px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
  }
  
  

  .imps11{
    color: rgb(77, 75, 75);
    font-size: 15px;
  }


  

  .cardsecond:hover{
    border-left: 1px solid #0abcd0 !important;
    transition: all .5s;
    transform: translateY(-20px);
  }

  .cardsecond:hover .iconcolorchange11{
    background-color: #4FBDD1;
   
  }

.fi_text{
  font-size: 19px;
  font-weight: 600;
  color: #1b2a3e;
}

.we_are{
  font-size: 19px;
  color:#989898;
}
  

.cardsecond1{
  border: none;
  box-shadow: 5px 4px 23px -10px;
  border-radius: 20px !important;
}

.cardsecond1:hover{
  transition: all .5s;
  transform: translateY(-20px);
  background-color: #0abcd0;
}



.fi_text1{
  font-size: 19px;
  font-weight: 600;
  color: #1b2a3e;
}
.cardsecond1:hover .fi_text1{ 
  color: white;
}


.imps111{
  color: rgb(77, 75, 75);
  font-size: 15px;
}

.cardsecond1:hover .imps111{ 
  color: white;
}



.cardsecond1:hover path{
  fill: white;
}


.we_are1{
  font-size: 17px;
  color:#989898;
}

.DEVELOPER{
  background-color: black;
  color: white !important;
  font-size: 17px;
}


.quick1{
  background-color: #4FBDD1;
  color: white !important;
  /* font-size: 17px; */
}


.header111{
  background-color: #487074;
  border-radius: 20px 20px 0px 0px !important;
  
}

.cardbodyyyy{
  background-color: #1b2a3e;
  color:white;
  border-radius: 0px 0px 20px 20px ;

}


.cardcard11{
  border: none;
  border-radius: 20px;
}

.liststyleee{
  list-style: none;
}

.textcolorfooter{
  color:#787a7e !important;
}

.casass{
  text-decoration: none;
 
}

.casass1{
  transition: all .3s ease-in-out ;
}

.casass1:hover{
  transform: translate3d(10px,0,0) ;
}



/* .hello{
  
  position: relative;
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

@keyframes mymove {
  from {top: 0px;}
  to {top: 200px; }
} */


.ball {
 
  background-image: url(images/flowersbg.webp);
  animation: bounce 1.1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(0, 30px, 0);
  }
}



@-webkit-keyframes bounce {
  from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  to {
      -webkit-transform: translate3d(0, 200px, 0);
      transform: translate3d(0, 200px, 0);
  }
}